<p>Атрибут <code>editable</code> позволяет перевести таблицу в режим in-place редактирования ячеек. В этом режиме в
    колонках, имеющих атрибут <code>editable = true</code>, отображаются компоненты для редактирования значений
    атрибутов сущности, находящейся в источнике данных.</p>

<p>Тип компонента для каждой редактируемой колонки выбирается автоматически на основании типа атрибута сущности.
    Например, для строковых и числовых атрибутов используется <a
            href="http://docs.cuba-platform.com/cuba/latest/manual/ru/html-single/manual.html#gui_TextField" target="_blank">TextField</a>,
    для <code>Date</code> - <a href="http://docs.cuba-platform.com/cuba/latest/manual/ru/html-single/manual.html#gui_DateField"
                               target="_blank">DateField</a>, для перечислений - <a
            href="http://docs.cuba-platform.com/cuba/latest/manual/ru/html-single/manual.html#gui_LookupField" target="_blank">LookupField</a>,
    для ссылок на другие сущности - <a
            href="http://docs.cuba-platform.com/cuba/latest/manual/ru/html-single/manual.html#gui_PickerField" target="_blank">PickerField</a>
    (или <code>LookupField</code>, если для колонку указан также атрибут <code>optionsDatasource</code>).
</p>

<p>Для редактируемой колонки типа <code>Date</code> можно дополнительно указать атрибуты <code>dateFormat</code> или
    <code>resolution</code> аналогично описанным для <a href="open?screen=format-datefield">DateField</a>.
</p>
