<p><code>column</code>&nbsp;&ndash; optional element that allows to position fields in multiple columns. For this purpose,&nbsp;<code>field</code>&nbsp;elements should be placed not immediately within&nbsp;<code>fieldGroup</code>, but within its&nbsp;<code>column</code>.</p>
<p><code>column</code>&nbsp;may have the following attributes:</p>
<ul style="list-style-type:circle">
    <li>
        <p><code>width</code>&nbsp;&ndash; specifies the field width of a column. By default, fields have the width of&nbsp;<code>200px</code>. In this attribute, the width can be specified both in pixels and in percentage of the total horizontal width of the column.</p>
    </li>
    <li>
        <p><code>flex</code>&nbsp;&ndash; a number, which indicates the degree of horizontal change in the overall size of the column relative to other columns as a result of changing the entire width of&nbsp;<code>fieldGroup</code>. For example, you can specify&nbsp;<code>flex=1</code>&nbsp;for a column, and&nbsp;<code>flex=3</code>&nbsp;for another one.</p>
    </li>
    <li>
        <p><code>id</code>&nbsp;&ndash; an optional column identifier, which allows to refer to it in case of&nbsp;<a href="http://docs.cuba-platform.com/cuba/latest/manual/en/webhelp/screen_extension.html" target="_blank">screen extension</a>.</p>
    </li>
</ul>