<p><code>column</code>&nbsp;- необязательный элемент, позволяющий располагать поля в несколько колонок. Для этого элементы&nbsp;<code>field</code>&nbsp;должны находиться не непосредственно внутри&nbsp;<code>fieldGroup</code>, а внутри своего&nbsp;<code>column</code>.</p>
<p>Элемент&nbsp;<code>column</code>&nbsp;может иметь следующие атрибуты:</p>
<ul style="list-style-type:circle">
    <li>
        <p><code>width</code>&nbsp;- задает ширину полей данной колонки. По умолчанию ширина полей -&nbsp;<code>200px</code>. В данном атрибуте ширина может быть задана как в пикселах, так и в процентах от общего размера колонки по горизонтали.</p>
    </li>
    <li>
        <p><code>flex</code>&nbsp;- число, задающее степень изменения общего размера данной колонки по горизонтали относительно других колонок при изменении ширины всего компонента&nbsp;<code>fieldGroup</code>. Например, можно задать одной колонке<code>flex=1</code>&nbsp;а другой&nbsp;<code>flex=3</code>.</p>
    </li>
    <li>
        <p><code>id</code>&nbsp;- необязательный идентификатор колонки, позволяющий ссылаться на нее в случае&nbsp;<a href="http://docs.cuba-platform.com/cuba/latest/manual/ru/webhelp/screen_extension.html" target="_blank">расширения экрана</a>.</p>
    </li>
</ul>