<p>Кнопка настроек фильтра содержит выпадающий список опций для управления фильтром:</p>
<div>
    <ul>
        <li>
            <p>Save (Сохранить) - сохранить изменения в текущем фильтре.</p>
        </li>
        <li>
            <p>Save as (Сохранить как) - сохранить фильтр под новым именем.</p>
        </li>
        <li>
            <p>Edit (Редактировать) - открыть редактор фильтра (см. ниже).</p>
        </li>
        <li>
            <p>Make default (Установить по умолчанию) - установить фильтр по умолчанию для данного экрана. Фильтр будет автоматически выводиться на панель при каждом открытии экрана.</p>
        </li>
        <li>
            <p>Remove (Удалить) - удалить текущий фильтр.</p>
        </li>
        <li>
            <p>Pin applied (Закрепить) - использовать результаты последнего поиска для последовательной фильтрации данных (см. <a href="http://docs.cuba-platform.com/cuba/latest/manual/ru/webhelp/sequential_filter.html" target="_blank">Последовательное наложение фильтров</a>).</p>
        </li>
        <li>
            <p>Save as search folder (Сохранить как папку поиска) - создать <a href="http://docs.cuba-platform.com/cuba/latest/manual/ru/webhelp/folders_pane.html#search_folder" target="_blank">папку поиска</a> на основе текущего фильтра.</p>
        </li>
        <li>
            <p>Save as application folder (Сохранить как папку приложения) - создать <a href="http://docs.cuba-platform.com/cuba/latest/manual/ru/webhelp/folders_pane.html#search_folder" target="_blank">папку приложения</a> на основе текущего фильтра. Эта опция доступна только пользователям со специфическим разрешением<code>cuba.gui.appFolder.global</code>.</p>
        </li>
    </ul>
</div>
<p>Опция Edit открывает редактор фильтра, который дает возможность расширенной настройки текущего фильтра.</p>
<p>В дереве содержатся условия фильтра. Условия можно добавлять с помощью кнопки Add (Добавить) менять местами при помощи кнопок <img src="http://docs.cuba-platform.com/cuba/latest/manual/ru/webhelp/img/gui_filter_cond_down.png" alt="" />/<img src="http://docs.cuba-platform.com/cuba/latest/manual/ru/webhelp/img/gui_filter_cond_up.png" alt="" /> или удалять с помощью кнопки Remove (Удалить).</p>
<p>Группировку условий по И или ИЛИ можно добавить с помощью соответствующих кнопок. Все добавленные на верхний уровень (то есть без явной группировки) условия объединяются по И.</p>