<p>The filter settings popup button provides the list of options for filter management:</p>
<div>
    <ul>
        <li>
            <p>Save - save changes to the current filter.</p>
        </li>
        <li>
            <p>Save as - save the filter under a new name.</p>
        </li>
        <li>
            <p>Edit - open the filter editor (see below).</p>
        </li>
        <li>
            <p>Make default - make the filter default for this screen. The filter will be automatically displayed on the filter panel when the screen is opened.</p>
        </li>
        <li>
            <p>Remove - delete the current filter.</p>
        </li>
        <li>
            <p>Pin applied - use the results of the last search for sequential data filtering (see <a href="http://docs.cuba-platform.com/cuba/latest/manual/en/webhelp/sequential_filter.html" target="_blank">Applying Filters Sequentially</a>).</p>
        </li>
        <li>
            <p>Save as search folder - create a <a href="http://docs.cuba-platform.com/cuba/latest/manual/en/webhelp/search_folder.html" target="_blank">search folder</a> based on the current filter.</p>
        </li>
        <li>
            <p>Save as application folder - create an <a href="http://docs.cuba-platform.com/cuba/latest/manual/en/webhelp/search_folder.html" target="_blank">application folder</a> based on the current filter. This option is available to users having the specific <code>cuba.gui.appFolder.global</code> permission only.</p>
        </li>
    </ul>
</div>
<p>The Edit option opens the filter editor, allowing advanced configuration of the current filter.</p>
<p>The filter conditions are contained in the tree. They can be added using the Add button, swapped using <img src="http://docs.cuba-platform.com/cuba/latest/manual/en/webhelp/img/gui_filter_cond_down.png" alt="" />/<img src="http://docs.cuba-platform.com/cuba/latest/manual/en/webhelp/img/gui_filter_cond_up.png" alt="" /> or removed using the Remove button.</p>
<p>AND or OR grouping conditions can be added with the help of the corresponding buttons. All top level conditions (i.e., without explicit grouping) are joined with AND.</p>