<p>По умолчанию, компонент находится в режиме быстрой фильтрации. Это означает, что пользователь может добавить набор условий для однократного поиска данных. После закрытия экрана просмотра экземпляров сущности условия будут удалены.</p>
<p>Для того чтобы создать быстрый фильтр, нажмите на ссылку Add search condition (Добавить условие поиска). Отобразится экран выбора условий:</p>
<div>
    <ul>
        <li>
            <p>Properties (Атрибуты) - атрибуты данной сущности и связанных с ней сущностей. Отображаются персистентные атрибуты, явно заданные в элементе <code>property</code> XML-описателя фильтра, либо соответствующие правилам, указанным в элементе <code>properties</code> (см. ниже).</p>
        </li>
        <li>
            <p>Custom conditions (Специальные условия) - условия, заданные разработчиком в элементах <code>custom</code> XML-описателя фильтра.</p>
        </li>
        <li>
            <p>Create new (Создать новое) - позволяет создать новое произвольное условие на JPQL. Данный пункт доступен пользователю, если у него есть специфическое <a href="http://docs.cuba-platform.com/cuba/latest/manual/ru/webhelp/permissions.html" target="_blank">разрешение</a> <code>cuba.gui.filter.customConditions</code>.</p>
        </li>
    </ul>
</div>
<p>Выбранные условия отображаются в верхней части панель фильтра. Рядом с каждым условием находится кнопка <img src="http://docs.cuba-platform.com/cuba/latest/manual/ru/webhelp/img/gui_filter_remove_condition.png" alt="" />, позволяющая удалить их из набора.</p>