<p>The&nbsp;<code>setItemClickAction()</code>&nbsp;method allows to define an&nbsp;<a href="http://docs.cuba-platform.com/cuba/latest/manual/en/webhelp/gui_Action.html" target="_blank">action</a>&nbsp;that will be performed when a table row is double-clicked. If such action is not defined, the table will attempt to find an appropriate one in the list of its actions in the following order:</p>
<ul>
    <li>
        <p>The action assigned to the&nbsp;<strong>Enter</strong>&nbsp;key by the&nbsp;<code>shortcut</code>&nbsp;property</p>
    </li>
    <li>
        <p>The&nbsp;<code>edit</code>&nbsp;action</p>
    </li>
    <li>
        <p>The&nbsp;<code>view</code>&nbsp;action</p>
    </li>
</ul>
<p>If such action is found, and has&nbsp;<code>enabled = true</code>&nbsp;property, the action is executed.</p>