<p>Атрибуты&nbsp;<code>link</code>:</p>
<ul>
    <li>
        <p><code>url</code>&nbsp;&ndash; адрес ресурса.</p>
    </li>
    <li>
        <p><code>target</code>&nbsp;&ndash; для веб клиента задает способ открытия страницы, аналогичен атрибуту&nbsp;<code>target</code>&nbsp;HTML-тега&nbsp;<code>&lt;a&gt;</code>.</p>
    </li>
    <li>
        <p><code>icon</code>&nbsp;&ndash; указывает на местоположение <a href="http://docs.cuba-platform.com/cuba/latest/manual/ru/webhelp/gui_attributes.html#gui_attr_basic_icon" target="_blank">пиктограммы</a>.</p>
    </li>
</ul>