<p><code>link</code>&nbsp;attributes:</p>
<ul>
    <li>
        <p><code>url</code>&nbsp;&ndash; the URL of the web resource.</p>
    </li>
    <li>
        <p><code>target</code>&nbsp;&ndash; sets the web page opening mode for the Web Client, similar to the&nbsp;<code>target</code>&nbsp;attribute of the&nbsp;<code>&lt;a&gt;</code>&nbsp;HTML element.</p>
    </li>
    <li>
        <p><code>icon</code>&nbsp;&ndash; attribute defines <a href="http://docs.cuba-platform.com/cuba/latest/manual/en/webhelp/gui_attributes.html#gui_attr_basic_icon" target="_blank">icon</a> location.</p>
    </li>
</ul>