<p>The&nbsp;<code>Table</code>&nbsp;component presents information in a table view, sorts data, manages table columns and headers and invokes actions for selected rows.</p>
<p><code>table</code>&nbsp;elements:</p>
<ul>
    <li>
        <p><code>rows</code>&nbsp;&ndash; a mandatory element; its&nbsp;<code>datasource</code>&nbsp;attribute defines the&nbsp;<a href="http://docs.cuba-platform.com/cuba/latest/manual/en/webhelp/datasources.html" target="_blank">data source</a>&nbsp;to be used by the table.</p>
    </li>
    <li>
        <p><code>columns</code>&nbsp;&ndash; a mandatory element defining the set of columns for a table.</p>
    </li>
</ul>
<p><code>table</code>&nbsp;attributes:</p>
<ul>
    <li>
        <p><code>multiselect</code>&nbsp;attribute allows setting multiple selection mode for table rows. If&nbsp;<code>multiselect</code>&nbsp;is&nbsp;<code>true</code>, users can select multiple rows in the table using keyboard or mouse holding&nbsp;<strong>Ctrl</strong>&nbsp;or&nbsp;<strong>Shift</strong>&nbsp;keys. By default, multiple selection mode is switched off.</p>
    </li>
    <li>
        <p><code>sortable</code>&nbsp;attribute enables sorting data in the table. By default, it is set to&nbsp;<code>true</code>. If sorting is allowed, clicking a column header will show a&nbsp;<img src="http://docs.cuba-platform.com/cuba/5.4/manual/en/webhelp/img/gui_sortable_down.png" />/<img src="http://docs.cuba-platform.com/cuba/5.4/manual/en/webhelp/img/gui_sortable_up.png" />&nbsp;icon to the right of the column name.</p>
    </li>
    <li>
        <p>Setting&nbsp;<code>columnControlVisible</code>&nbsp;attribute to&nbsp;<code>false</code>&nbsp;forbids the user to hide columns using the drop-down menu of the&nbsp;<img src="http://docs.cuba-platform.com/cuba/5.4/manual/en/webhelp/img/gui_table_columnControl.png" />&nbsp;button in the right part of the table header. Currently displayed columns are marked with checkmarks in the menu.</p>
    </li>
    <li>
        <p>Setting&nbsp;<code>reorderingAllowed</code>&nbsp;attribute to&nbsp;<code>false</code>&nbsp;forbids users to change columns order by dragging them with a mouse.</p>
    </li>
</ul>