<div class="box-container">
    <div class="rotating-fan-container container-1" location="fanFirst"></div>
    <div class="rotating-fan-container container-2" location="fanSecond"></div>
    <div class="rotating-fan-container container-3" location="fanThird"></div>
    <div class="rotating-fan-container container-4" location="fanFourth"></div>
    <div class="speed-down">
        <div location="speedDown"></div>
    </div>
    <div class="speed-normal">
        <div location="speedNormal"></div>
    </div>
    <div class="speed-up">
        <div location="speedUp"></div>
    </div>
    <div class="move-up">
        <div location="moveUp"></div>
    </div>
    <div class="move-down">
        <div location="moveDown"></div>
    </div>
    <div class="element" location="waterLevel"></div>
</div>