<p>Атрибуты элемента&nbsp;<code>lookup</code>:</p>
<ul style="list-style-type:circle">
    <li>
        <p>Атрибут&nbsp;<code>lookup</code>&nbsp;задает возможность выбора значений через экран выбора сущностей.</p>
    </li>
    <li>
        <p>Атрибут&nbsp;<code>lookupScreen</code>&nbsp;задает идентификатор экрана для выбора значений в режиме&nbsp;<code>lookup=&quot;true&quot;</code>. Если данный атрибут не задан, то идентификатор экрана выбора определяется по правилам, описанным для&nbsp;<a href="http://docs.cuba-platform.com/cuba/latest/manual/ru/webhelp/standard_actions.html" target="_blank">стандартного действия</a>&nbsp;<code>PickerField.LookupAction</code>.</p>
    </li>
    <li>
        <p>Атрибут&nbsp;<code>openType</code>&nbsp;можно задать способ открытия экрана выбора, аналогично описанному для&nbsp;<a href="http://docs.cuba-platform.com/cuba/latest/manual/ru/webhelp/standard_actions.html" target="_blank">стандартного действия</a>&nbsp;<code>PickerField.LookupAction</code>. По умолчанию -&nbsp;<code>THIS_TAB</code>.</p>
    </li>
    <li>
        <p>Если значение атрибута&nbsp;<code>multiselect</code>&nbsp;установлено в&nbsp;<code>true</code>, то в мэп параметров экрана выбора в ключе&nbsp;<code>MULTI_SELECT</code>&nbsp;передается значение&nbsp;<code>true</code>. Этот признак можно использовать для установки в экране режима множественного выбора.</p>
    </li>
</ul>