<p>Attributes of the&nbsp;<code>lookup</code>&nbsp;attribute:</p>
<ul style="list-style-type:circle">
    <li>
        <p><code>lookup</code>&nbsp;attribute makes it possible to select items using an entity lookup screen.</p>
    </li>
    <li>
        <p><code>lookupScreen</code>&nbsp;attribute sets the identifier of the screen used for items selection in&nbsp;<code>lookup=&quot;true&quot;</code>&nbsp;mode. If this attribute is not set, screen identifier is selected according to the rules for the&nbsp;<code>PickerField.LookupAction</code>&nbsp;<a href="http://docs.cuba-platform.com/cuba/latest/manual/en/webhelp/standard_actions.html" target="_blank">standard action</a>.</p>
    </li>
    <li>
        <p><code>openType</code>&nbsp;attribute defines how the lookup screen will be opened, similar to what is described for the&nbsp;<code>PickerField.LookupAction</code>&nbsp;<a href="http://docs.cuba-platform.com/cuba/latest/manual/en/webhelp/standard_actions.html" target="_blank">standard action</a>. Default value &ndash;&nbsp;<code>THIS_TAB</code>.</p>
    </li>
</ul>