<p><code>tokenList</code>&nbsp;attributes:</p>
<ul>
    <li>
        <p><code>position</code>&nbsp;&ndash; sets the position for the drop-down list. The attribute can take two values:&nbsp;<code>TOP</code>,&nbsp;<code>BOTTOM</code>. Default is&nbsp;<code>TOP</code>.</p>
    </li>
    <li>
        <p><code>inline</code>&nbsp;attribute defines how the list with selected items will be displayed: vertically or horizontally.&nbsp;<code>true</code>&nbsp;corresponds to horizontal alignment,&nbsp;<code>false</code>&nbsp;&ndash; to vertical.</p>
    </li>
</ul>