<p>Атрибуты&nbsp;<code>tokenList</code>:</p>
<ul>
    <li>
        <p><code>position</code>&nbsp;- задает позиционирование раскрывающегося списка. Атрибут может принимать два значения:&nbsp;<code>TOP</code>,&nbsp;<code>BOTTOM</code>. По умолчанию&nbsp;<code>TOP</code>.</p>
    </li>
    <li>
        <p>Атрибут&nbsp;<code>inline</code>&nbsp;задает отображение списка выбранных значений: вертикально или горизонтально. Значение&nbsp;<code>true</code>&nbsp;соответствует горизонтальному расположению, значение&nbsp;<code>false</code>&nbsp;&minus; вертикальному.</p>
    </li>
</ul>