.v-table-row-active-customer {
    font-weight: bold;
}

.v-table-cell-content-premium-grade {
    background-color: red;
    color: white;
}

.v-table-cell-content-high-grade {
    background-color: green;
    color: white;
}

.v-table-cell-content-standard-grade {
    background-color: blue;
    color: white;
}