<p>Если поле не связано с атрибутом сущности (то есть не указан источник данных и название атрибута), то можно указать тип данных с помощью атрибута&nbsp;<code>datatype</code>. Тип данных используется для форматирования значения поля. В качестве значения атрибута может быть указано любое имя типа данных, зарегистрированного в метаданных приложения - см.&nbsp;<a href="http://docs.cuba-platform.com/cuba/latest/manual/ru/webhelp/datatype.html" target="_blank">&laquo;Datatype&raquo;</a>. Как правило, в&nbsp;<code>TextField</code>&nbsp;используются следующие типы данных:</p>
<ul style="list-style-type:circle">
    <li>
        <p><code>decimal</code></p>
    </li>
    <li>
        <p><code>double</code></p>
    </li>
    <li>
        <p><code>int</code></p>
    </li>
    <li>
        <p><code>long</code></p>
    </li>
</ul>