<p><code>FieldGroup</code>&nbsp;is intended for the joint display and editing of multiple entity attributes.</p>
<p>For the&nbsp;<code>fieldGroup</code>&nbsp;component, you should specify a
    <a href="http://docs.cuba-platform.com/cuba/latest/manual/en/webhelp/datasources.html" target="_blank">data source</a>
    in the <code>datasource</code> attribute. Entity attributes containing in the data source, which you need to display,
    should be specified in&nbsp;<code>field</code>&nbsp;elements.</p>