<p><code>aggregatable</code>&nbsp;attribute enables aggregation for table rows. The following operations are supported:</p>
<ul style="list-style-type:circle">
    <li>
        <p><code>SUM</code>&nbsp;&ndash; calculate the sum</p>
    </li>
    <li>
        <p><code>AVG</code>&nbsp;&ndash; find the average value</p>
    </li>
    <li>
        <p><code>COUNT</code>&nbsp;&ndash; calculate the total number</p>
    </li>
    <li>
        <p><code>MIN</code>&nbsp;&ndash; find the minimum value</p>
    </li>
    <li>
        <p><code>MAX</code>&nbsp;&ndash; find the maximum value</p>
    </li>
</ul>
<p>The&nbsp;<code>aggregation</code>&nbsp;element should be set for aggregated table cells with the&nbsp;<code>type</code>&nbsp;attribute, which sets the aggregation function. The aggregated table values are shown in an additional row at the top of the table.</p>