@import "../halo/halo";
@import "samples/components/table/table";
@import "samples/components/twincolumn/twincolumn";
@import "samples/folderspane/folderspane";
@import "samples/samplebrowser/samplebrowser";

@mixin halo-ext {
  @include halo;
  @include sample-browser;
  @include sampler-folderspane;
  @include sample-table;
  @include sample-twincolumn;

  .v-label.sampler-app-tittle-label {
    color: #fff;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
  }

}