<p>Список опций компонента может быть задан произвольно с помощью методов&nbsp;<code>setOptionsList()</code>&nbsp;и&nbsp;<code>setOptionsMap()</code>, либо с помощью XML-атрибута&nbsp;<code>optionsDatasource</code>.</p>
<ul style="list-style-type:circle">
    <li>
        <p>Метод&nbsp;<code>setOptionsList()</code>&nbsp;позволяет программно задать список опций компонента.</p>
    </li>
    <li>
        <p>Метод&nbsp;<code>setOptionsMap()</code>&nbsp;позволяет задать строковые названия и значения опций по отдельности.</p>
    </li>
</ul>