<p>The list of component options can be specified arbitrarily using&nbsp;<code>setOptionsList()</code>&nbsp;and&nbsp;<code>setOptionsMap()</code>, or using an&nbsp;<code>optionsDatasource</code>&nbsp;attribute.</p>
<ul style="list-style-type:circle">
    <li>
        <p><code>setOptionsList()</code>&nbsp;allows to specify programmatically a list of component options.</p>
    </li>
    <li>
        <p><code>setOptionsMap()</code>&nbsp;allows to specify string names and option values separately.</p>
    </li>
</ul>