<p>The list of component options can be specified arbitrarily using&nbsp;<code>setOptionsList()</code>&nbsp;and&nbsp;<code>setOptionsMap()</code>, or using an XML&nbsp;<code>optionsDatasource</code>&nbsp;attribute.</p>
<ul style="list-style-type:circle">
    <li>
        <p><code>setOptionsList()</code>&nbsp;allows you to programmatically specify a list of component options.</p>
    </li>
    <li>
        <p><code>setOptionsMap()</code>&nbsp;allows to specify string names and option values separately.</p>
    </li>
</ul>
<p>The&nbsp;<a href="http://docs.cuba-platform.com/cuba/latest/manual/en/webhelp/gui_attributes.html#gui_attr_nullName" target="_blank">nullName</a>&nbsp;attribute allows to specify a row to be displayed in this case instead of an empty one.</p>