<p><code>Bulk Editor</code>&nbsp;- компонент, позволяющий менять значения атрибутов сразу нескольких выбранных экземпляров сущностей.</p>

<p>Компонент представляет собой кнопку, добавляющуюся к&nbsp;<a href="https://docs.cuba-platform.com/cuba/latest/manual/ru/html-single/manual.html#gui_Table" target="_blank">таблице</a>&nbsp;или&nbsp;<a href="https://docs.cuba-platform.com/cuba/latest/manual/ru/html-single/manual.html#gui_Tree">дереву</a>&nbsp;и при нажатии открывающую редактор сущностей.</p>
