<p>Текстовое поле, в которое данные вводятся в определенном формате.&nbsp;<code>MaskedField</code>&nbsp;удобно использовать, например, для ввода телефонных номеров.</p>
<p><code>MaskedField</code>&nbsp;в основном повторяет функциональность&nbsp;<a href="open?screen=simple-textfield">TextField</a>, за исключением того, что ему нельзя установить&nbsp;<code>datatype</code>. То есть&nbsp;<code>MaskedField</code>&nbsp;предназначен для работы только с текстом и строковыми атрибутами сущностей.&nbsp;<code>MaskedField</code>&nbsp;имеет следующие специфические атрибуты:</p>
<ul>
    <li>
        <p><code>mask</code>&nbsp;- задает маску для поля. Чтобы задать маску, используются следующие символы:</p>

        <ul>
            <li>
                <p><code>#</code>&nbsp;- цифра</p>
            </li>
            <li>
                <p><code>U</code>&nbsp;- буква верхнего регистра</p>
            </li>
            <li>
                <p><code>L</code>&nbsp;- буква нижнего регистра</p>
            </li>
            <li>
                <p><code>?</code>&nbsp;- буква</p>
            </li>
            <li>
                <p><code>А</code>&nbsp;- буква или цифра</p>
            </li>
            <li>
                <p><code>*</code>&nbsp;- любой символ</p>
            </li>
            <li>
                <p><code>H</code>&nbsp;- hex символ</p>
            </li>
            <li>
                <p><code>~</code>&nbsp;- знак + или -</p>
            </li>
        </ul>
    </li>
    <li>
        <p><code>valueMode</code>&nbsp;- определяет формат возвращаемого значения (с маской, или без) и может принимать значение&nbsp;<code>masked</code>&nbsp;или&nbsp;<code>clear</code>.</p>
    </li>
</ul>