<p>????????? ????, ? ??????? ?????? ???????? ? ???????????? ???????.&nbsp;<code>MaskedField</code>&nbsp;?????? ????????????, ????????, ??? ????? ?????????? ???????.</p>
<p><code>MaskedField</code>&nbsp;? ???????? ????????? ????????????????&nbsp;<a href="open?screen=simple-textfield">TextField</a>, ?? ??????????? ????, ??? ??? ?????? ??????????&nbsp;<code>datatype</code>. ?? ????&nbsp;<code>MaskedField</code>&nbsp;???????????? ??? ?????? ?????? ? ??????? ? ?????????? ?????????? ?????????.&nbsp;<code>MaskedField</code>&nbsp;????? ????????? ????????????? ????????:</p>
<ul>
    <li>
        <p><code>mask</code>&nbsp;- ?????? ????? ??? ????. ????? ?????? ?????, ???????????? ????????? ???????:</p>
        <ul>
            <li>
                <p><code>#</code>&nbsp;- ?????</p>
            </li>
            <li>
                <p><code>U</code>&nbsp;- ????? ???????? ????????</p>
            </li>
            <li>
                <p><code>L</code>&nbsp;- ????? ??????? ????????</p>
            </li>
            <li>
                <p><code>?</code>&nbsp;- ?????</p>
            </li>
            <li>
                <p><code>?</code>&nbsp;- ????? ??? ?????</p>
            </li>
            <li>
                <p><code>*</code>&nbsp;- ????? ??????</p>
            </li>
            <li>
                <p><code>H</code>&nbsp;- hex ??????</p>
            </li>
            <li>
                <p><code>~</code>&nbsp;- ???? + ??? -</p>
            </li>
        </ul>
    </li>
    <li>
        <p><code>valueMode</code>&nbsp;- ?????????? ?????? ????????????? ???????? (? ??????, ??? ???) ? ????? ????????? ????????&nbsp;<code>masked</code>&nbsp;???&nbsp;<code>clear</code>.</p>
    </li>
</ul>